aiohttp
aiosignal
argon2-cffi
argon2-cffi-bindings
async-timeout
attrs
CacheControl==0.12.11
cachy==0.3.0
certifi 
cffi==1.15.1
charset-normalizer 
cleo==0.8.1
click
clikit==0.6.2
crashtest==0.3.1
cryptography
debugpy
distlib==0.3.6
filelock==3.9.0
Flask
Flask-SQLAlchemy
frozenlist
greenlet
html5lib==1.1
idna==3.4
iso8601
itsdangerous
jedi
jeepney==0.8.0
Jinja2
keyring==21.8.0
lockfile==0.12.2
MarkupSafe
msgpack==1.0.4
multidict
numpy
packaging 
parso
passlib
pastel==0.2.1
pexpect==4.8.0
pkginfo==1.9.6
platformdirs==2.6.2
pluggy 
poetry-core==1.0.8
protobuf
ptyprocess==0.7.0
pycparser==2.21
pycryptodomex
pyflakes
pylev==1.4.0
pyparsing==3.0.9
pyseto
python-lsp-jsonrpc
pytz
requests
requests-toolbelt==0.9.1
rope
SecretStorage==3.3.3
shellingham==1.5.0.post1
six==1.16.0
SQLAlchemy
toml 
tomli 
tomlkit==0.11.6
typing-extensions
ujson
urllib3
virtualenv==20.17.1
webencodings==0.5.1
Werkzeug
whatthepatch
yapf
yarl
pymysql